body {
    background-color: #e6e5e5;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff; 
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a8a8a8;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.returntohomescreen {
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration:none;
    margin-left: 20px;
}

.returntohomescreen:hover {
    background-color: #007bff;
    color: #ffffff;
    text-decoration:none;
}

.forgot-password {
    float: right;
    margin-top: 10px;
}

.password-container {
    position: relative;
}

.form-card1 {
    background-image: linear-gradient(163deg, #007bff 0%, #007bff 100%);
    border-radius: 10px;
    transition: all 0.3s;
}

.form-card1:hover {
    box-shadow: 0px 0px 30px 1px #007bff;
}

.form-card2 {
    border-radius: 0;
    transition: all 0.2s;
}

.form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}